*{
  padding:0px;
  margin:0px;
  
}

body{
  background: black;
}
.main{
  background-image:url("bgpng.jpg");
  background-position: center center;
  width:100%;
  height:70vh;
  position: relative;
  
  
}

nav{
  
  max-width: 70vw;
  margin:auto;
  display: flex;
  justify-content:space-between;
  align-items: center;
  height: 43px;
  
}
nav img{
  width:114px;
  position:relative;
  z-index:10;
}

nav button{
  height: 25px;
  width:100px;
  position:relative;
  z-index:10;
  margin:5px;
}


.main .box{
  width:100%;
  height:70vh;
  opacity:0.45;
  background:black;
  position: absolute;
  top:0;
}

.hero
  {
  height:100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  color:white;
  position: relative;
  gap:22px;
  text-align: center;
    padding: 0px 20px;
}

.hero> :nth-child(1)
  {
    font-family: Poppins;
   font-weight: bolder;
   font-size: 48px;
    text-align: center;
    
}

.hero> :nth-child(2){
  font-weight: 700;
  font-size: 24px;
   text-align: center;
}

.hero> :nth-child(3){
  font-weight: 400;
  font-size: 20px;
   text-align: center;
}

.line{
  height:5px;
  background-color: gray;
  
}

.btnR{
  padding:0px 3px;
  font-weight: bolder;
  color:white;
  background: red;
  border-radius: 7px;
  
}

.btnE{
  padding:2px 3px;
  font-weight: bolder;
  color:white;
  background: black;
  border-radius: 7px;
  
  
}
.btnG{
  
  padding:2px 3px;
  font-weight: bolder;
  color:white;
  background:red;
  border-radius: 5px;
  
}


.contaner{
  display: flex;
  gap:10px;
  margin:10px;
  flex-wrap:wrap;
  justify-content: center;
  justify-content: space-around;
}

.contaner img{
  width:200px;
  border-radius: 10px;
}


.video1 video{
  
  width:400px;
  height:auto;
  border-radius: 20px;
  

}


.video1 {
 /* width:30px;
  height:50px;*/
  display: flex;
  flex-direction: column;
  margin: 20px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
  gap:100px 100px;
}

.video2{
  opacity:0.45;
  border-radius:20px;
}
